<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History</title>
</head>
<body>
<p>Actual tickets</p>
<div th:each="ticket : ${currentUsersTickets}">
    <div th:if="${ticket.isActual()} == true">
        <p th:text="${ticket.getFrom().getCity()}">departure</p>
        <p th:text="${ticket.getTo().getCity()}">arrival</p>
        <p th:text="${ticket.getSeat()}">seat</p>
    </div>
</div>
<p>Past tickets</p>
<div th:each="ticket : ${currentUsersTickets}">
    <div th:if="${ticket.isActual()} == false">
        <p th:text="${ticket.getFrom().getCity()}">departure</p>
        <p th:text="${ticket.getTo().getCity()}">arrival</p>
        <p th:text="${ticket.getSeat()}">seat</p>
    </div>
</div>
</body>
</html>